In [26]:
import pandas as pd
from SimilarityFunctions import similarity_function
from CorrelationCoeff import pearson_coeff, spearman_coeff

In [27]:
table = pd.read_csv('combined.csv')

In [30]:
table['Wu & Palmer'] = similarity_function('WP', table['Word 1'], table['Word 2'])
table['Leakcock & Chodorow'] = similarity_function('LC', table['Word 1'], table['Word 2'])
table['Shortest Path'] = similarity_function('SP', table['Word 1'], table['Word 2'])
display(table)

,Word 1,Word 2,Human (mean),Wu & Palmer,Leakcock & Chodorow,Shortest Path
0,love,sex,6.77,0.91,2.94,37
1,tiger,cat,7.35,0.96,2.94,37
2,tiger,tiger,10.00,1.00,3.64,38
3,book,paper,7.46,0.86,2.54,36
4,computer,keyboard,7.62,0.80,2.25,35
...,...,...,...,...,...,...
348,shower,flood,6.03,0.60,2.03,34
349,weather,forecast,8.34,0.00,1.00,25
350,disaster,area,6.25,0.43,1.44,30
351,governor,office,6.34,0.47,1.34,29
352,architecture,century,3.78,0.18,1.34,29

In [31]:
corr_table = pd.DataFrame()
corr_table['Pearson'] = [pearson_coeff(table['Wu & Palmer'], table['Human (mean)']), pearson_coeff(table['Leakcock & Chodorow'], table['Human (mean)']), pearson_coeff(table['Shortest Path'], table['Human (mean)'])]
corr_table['Spearman'] = [spearman_coeff(table['Wu & Palmer'], table['Human (mean)']), spearman_coeff(table['Leakcock & Chodorow'], table['Human (mean)']), spearman_coeff(table['Shortest Path'], table['Human (mean)'])]

corr_table.index = ['Wu & Palmer', 'Leakcock & Chodorow', 'Shortest Path']

display(corr_table)

                     Pearson  Spearman
Wu & Palmer           0.2946    0.3456
Leakcock & Chodorow   0.3171    0.2919
Shortest Path         0.1846    0.2919